@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body
{
    --body-font: 'Poppins', sans-serif;
    font-family: var(--body-font);
}

.dot {
    height: 25px;
    width: 25px;
    background-color: lightblue;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar
{
    width: 87%; 
    height: auto;
    background-color: #fff; 
    position: absolute;
    padding: 10px;
    box-shadow: 1px 0 4px hsla(228, 81%, 49%, .15);
    border-radius: 6px;
}

.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.left
{
    margin-left: 2%;
    font-size: 1.2rem;   
    vertical-align:middle;
    cursor: pointer;
}

.myapps
{
    font-weight: 500;
    color: black;
}

.arrow i
{
    color: black;
    font-size: 1rem;
}
.todos
{
    color: green;
    font-weight: 400;
}

.right_content
{
    display: flex;
    justify-content: space-between;
    border: 3px  black;
    margin: 5px;
}

.icon
{
    margin: 5px;
    margin-left: 8px;
}


