@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --first-color: hsl(228, 81%, 49%);
  --title-color: hsl(228, 12%, 15%);
  --text-color: hsl(228, 8%, 50%);
  --body-color: hsl(228, 100%, 99%);
  --container-color: #fff;

  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
}

body {
  position: relative;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1 {
  color: var(--title-color);
}

a {
  text-decoration: none;
}

.nav__link {
  display: flex;
  color: var(--text-color);
  font-weight: 500;
  transition: .3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.active-link {
  color: var(--first-color);
}

  .container {
    margin-left: 7rem;
    margin-right: 1.5rem;
  }
  
  .nav {
    position: fixed;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 1px 0 4px hsla(228, 81%, 49%, .15);
    width: auto;
    height: auto;
    padding: 2rem;
    transition: .3s;
  }
  .nav__logo {
    display: flex;
  }
  .nav__logo-name {
    color: var(--title-color);
    font-weight: 600;
  }
  .nav__logo, .nav__link {
    align-items: center;
    column-gap: 1rem;
  }
  .nav__list {
    display: grid;
    row-gap: 2.0rem;
  }
  .nav__content {
    overflow: hidden;
    height: 100%;
  }
  
  #top__list
  {
    margin-top: 5rem;
    margin-bottom: 10rem;
  }
  
